body {
  margin: 0;
  font-family: "Luxurious Roman", cursive;
}
.flex-container {
  display: flex;
  margin-bottom: 4rem;
}
.top-banner {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}
.half-width {
  width: 50%;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 5%;
}
h1 {
  font-size: 50px;
}
h1 span {
  color: orange;
}
.half-width img {
  width: 100%;
}
.anchor-button {
  text-decoration: none;
  /* background: linear-gradient(45deg, lightsalmon, tomato); */
  background-image: linear-gradient(lightsalmon, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  cursor: alias;
}
p {
  color: dimgray;
  text-align: justify;
}
.dream-area {
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
h2 {
  font-size: 40px;
}
.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.experience-area h2 {
  text-align: center;
}
.experience-item {
  width: 40%;
  margin: 5%;
  padding: 5%;
  box-shadow: 10px 10px 40px gray;
  border-radius: 5%;
}

.experience-item h3 {
  color: orange;
}
#full-stack {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
#baby-web {
  border-left: 7px solid;
  border-image: linear-gradient(salmon, tomato);
  border-image-slice: 1;
}
footer p {
  color: white;
  text-align: center;
}
footer {
  background-image: linear-gradient(tomato, salmon);
  padding: 4rem;
}
